main {
    padding: 85px;
    background: var(--main-background);
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }
}