body {
    --header-background: #fff;
    --header-color: #000;
    --banner-color: #fff;
    --banner-image: url('../images/Hulk_mining_fleet.png');
    --primary-color: #313146;
    --main-background: #eee;
    --section-background: #fff;
    --section-color: #000;
    --card-title-color: #fff;
    --card-background: #fff;
    --card-text-color: #000;
    --box-background: #fff;
    --login-image: url('../images/eve-sso-login-black-large.png');
    --login-image-light: url('../images/eve-sso-login-white-large.png');
    --font-light: #aaa;
    --button-background: #fff;
    --button-color: #000;
    --table-border: #cfcfcf;
    --table-background: #fefefe;
    --table-color: #000;
    --table-header-background: #fefefe;
    --table-odd-background: #f9f9f9;
    --table-even-background: #fff;
    --table-arrow: url('../images/arrow-right.svg');
    --ore-vue-background: #f8f8f8;
    --ore-vue__ore-background: #eeeeee;
    --input-background: #f3f3f3;
    --input-color: #000;
    --popup-background: #fff;
    --popup-color: #000;
    --popup-cross-image: url('../images/cross.svg');
    --link-clipboard-image: url('../images/clipboard.png');
    --footer-background: #565663;
    --footer-color: #fff;
    --footer-links-color: #a5a4b4;
}
