body.dark-theme {
    --header-background: #545454;
    --header-color: #fefefe;
    --banner-color: #fff;
    --banner-image: url('../images/Hulk_mining_fleet.png');
    --primary-color: #fff;
    --main-background: #424242;
    --section-background: #545454;
    --section-color: #fefefe;
    --card-title-color: #fff;
    --card-text-color: #fff;
    --card-background: #545454;
    --box-background: #545454;
    --login-image: url('../images/eve-sso-login-black-large.png');
    --login-image-light: url('../images/eve-sso-login-white-large.png');
    --font-light: #aaa;
    --button-background: #545454;
    --button-color: #fefefe;
    --table-border: #cfcfcf;
    --table-color: #fefefe;
    --table-header-background: #222222;
    --table-odd-background: #585858;
    --table-even-background: #323232;
    --table-arrow: url('../images/arrow-right.svg');
    --ore-vue-background: #060606;
    --ore-vue__ore-background: #eeeeee;
    --input-background: #6d6d70;
    --input-color: #fefefe;
    --popup-background: #545454;
    --popup-color: #fefefe;
    --popup-cross-image: url('../images/cross.svg');
    --link-clipboard-image: url('../images/clipboard.png');
    --footer-background: #565663;
    --footer-color: #fff;
    --footer-links-color: #a5a4b4;
}
